<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html>
    <head>
        <title>TODO supply a title</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
       <h1>Test</h1>
        
       <form data-no-submit>
           <p data-bind-model="reviews3" data-bind-safe class="is-warning is-spaced"></p>
           <input type="text" data-bind-model="reviews"/>
        
             <p data-bind-model="completed"></p>
            <select name="completed" class="select">
                <option value="true">true</option>
                <option value="false">false</option>
            </select>
        
            <p data-bind-model="reviews2"></p>
            <textarea name="reviews2"></textarea>
           
           <p data-bind-model="reviews5"></p>
           <textarea name="reviews5" data-bind-input="false"></textarea>
        
           <button data-bind-event="click:updateReview">Test</button>
       
           
           <p>Please select your preferred contact method:</p>
           <p data-bind-model="contact"></p>
            <div>
              <input type="radio" id="contactChoice1"
               name="contact" value="email">
              <label for="contactChoice1">Email</label>

              <input type="radio" id="contactChoice2"
               name="contact" value="phone">
              <label for="contactChoice2">Phone</label>

              <input type="radio" id="contactChoice3"
               name="contact" value="mail">
              <label for="contactChoice3">Mail</label>
            </div>
           
           
           <p>  <input id="field_terms" type="checkbox" required name="terms">
                <label for="field_terms">I accept the <u>Terms and Conditions</u></label>
           </p>
           
           <p data-bind-class="{'is-info':'condition', 'is-warning':'!condition'}" class="is-spaced">Class change when the checkbox is checked</p>
           
           <p data-bind-model="date" data-bind-callback="formatHTML"></p>
           <input type="date" name="date" />

           <input type="reset" value="Reset" />
           </form>
        
    </body>
</html>
